
.Login_Container{
display:flex;
flex-direction: column;
background-image: url("../Images/login-background.jpg");
z-index: -1;
background-size: cover;
background-position: top;
background-repeat: no-repeat;
text-align: center;
overflow: hidden;
height: 100vh;
}
.LoginLogo{
    margin-bottom: 2vw;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition-timing-function: ease-out;
  transition-duration:opacity 0.2s;
  width:100%;
}
.loginbtn{
    color:#f9f9f9;
    background-color: #0483ee;
    padding: 16.5px 0;
    margin-bottom: 12px;
    width :100%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing:1.5px;
    border:1px solid transparent;
    border-radius:4px;
    
}
.loginbtn:hover{
    background-color: #006385;
    
}
.description{
    color:hsla(0,0%,95.3%,1);
    font-size: 11px;
    overflow:hidden;
    margin :0 0 24px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    
}
.LoginLogoOneimg {
    max-width: 600px;
    margin-bottom: 12px;
    min-height: 1px;
    width:100%;
    display:block;


}

.Login_Contetnt{
    position: relative;
display:flex;
flex-direction: column;
width:100%;
box-sizing: border-box;
justify-content: center;
align-items: center;
min-height:100vh;
padding:80px 40px;
/* height: 100%; */
}

.headerlogin{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #090b13;
    height: 70px;
    display:flex;
    justify-content: space-between;
    /* margin:15px 25px; */
    align-items: center;
    padding :0 36px;
    /* letter-spacing:16px; */
    z-index:3;
   
}
.headerlogo{
    width:80px;
    max-height: 70px;
    font-size:0;
    display: inline-block;
    align-items: center;
    margin-top:4px;
}
.headerlogin img{
    display:block;
    width:100%;

}
.headermenu{
    align-items: center;
    display:flex;
    flex-flow:row nowrap;
    height: 100%;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-right: auto;
    margin-left:25px;

    
}

.test{
    display: flex;
    padding: 10px;
}
.headerIconDiv{
     display: flex;
     flex-direction: row;
     width:18px;
}
.headerIcon{
width:20px;
min-width: 20px;
z-index: auto;
height:20px;
}


@media(max-width:768px){
    .headermenu{
        display:none;
    }
    
}

/* .testspan{
    padding-top: 5px;
} */

.headloginbtn{
background-color: rgba(0, 0, 0,0.6);
padding: 8px 16px;
text-transform: uppercase;
letter-spacing: 1.5px;
border: 1px solid #f9f9f9;
border-radius: 4px;
cursor:pointer;
text-decoration: none;
}

.headloginbtn:hover{
    background-color:#f9f9f9;
    color:#000;
    border-color:transparent;
}